/* Navigation styles */
.hide {
    display: none;
}
.name a {
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    padding-bottom: 10px;
}
.hamburgerMenu, .nav, .hide, .dropdown {
    display: none;
}

.navigation {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
    /* border: 2px solid green; */
    display: block;
}

.header-content {
    border-bottom: 3px solid #e5ff33;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 102;
    height: 80px;
    padding: 1%;
    left: 0px;
    background-color: #ffffff;
    padding-bottom: 70px;


    
}

.left-nav {
    vertical-align: top;
    top: 0px;
    width:350px;
    position: fixed;
    height: 70px;
    display: inline-block;
    padding: 1%;
    margin-left:1%;
    /* border: 2px solid red; */
}
.left-nav ul {
    display: inline-block;
    width: 100%;

}
.left-nav li {
    display: inline-block;
    padding: 2%;
    color: #000c94;
    font-size: 1.5rem;
 
}

.logo {
    padding: 1%;
    height: 50px;
    margin: 0 auto;
    background-image: url("../images/logo.png");
    background-size: 55px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 10%;
    color: white;
    text-decoration: none;
    /* border: 2px solid red; */
    margin-top: 5px;
}


.right-nav {
    vertical-align: top;
    top: 0;
    width:25%;
    right: 3%;
    position: absolute;
    height: 70px;
    padding: 1%;
    display: inline-block;
    /* border: 2px solid red; */
}

.right-nav ul {
    width: 100%;

}

.right-nav li {
    display: inline-block;
    padding: 1%;
    color: #000c94;
    font-size: 1rem;
}

/* Main body content */

body {
    overflow-x:hidden;
    /* background-color: green; */
    
}
.content {
    width: 80%;
    margin: 0% auto;
    position: relative;
    top: 150px;
    margin-bottom: 10%;
    max-width: 1400px;
    /* border: 2px solid red; */

}


button {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #000c94;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    position: relative;
    font-size: 1rem;
}

/* Footer styles */

footer {
    background-color: #ffffff;
    position: relative;
    width: 100vw;
    padding: 1% 0% 1% 0%;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 20%;
}

footer ul {
    color: #353535;
    max-width:1440px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;

    margin-left: -30px;
}

footer p {
    color: #353535;
    max-width:1440px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    padding: 0% 1% 2% 1%;
    font-size: 0.7rem;

}

footer li {
    display: inline;
    padding: 1% 1% 0% 1%;
    font-size: 1rem;
}

/* Typography */
 p, li, ul, h1, h2, h3 {
    font-family: 'Nunito', sans-serif;;
}
p {
    font-size: 1.2rem;
}


h1 {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}
.title {
    align-content: center;
    text-align: center;
}
.title h1 {
    align-content: center;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}
mark {
    background-color: #e5ff33;
    padding: 0px 5px;
 }

/* Index Styles */

.projects img{
    width:50%;
    position: relative;
    margin-left: 20%;
    align-content: center;
    justify-content: center;
    margin-bottom: 29px;
}

 /* About Styles */

.aboutHeroimg img  {
    width: 40%;
    margin: 0 40%;
}
.aboutDescription {
    display: inline-block;
    position: relative;
    background-color: #023632;
    left: 20%;
    color: #ffffff;
    padding: 5%;
    width: 50%;
    max-width: 500px;
    font-size: 1.1rem;
    top: -180px;
}

.project-block {
    position: relative;
    z-index: 100;
    height:70px;
    margin-left:0px;
    background-color:#000c94;
    margin-right: 0px;
    padding: 10px 0px 5px 28px;
    color: white;
    max-width: 1400px;
}

.project-block h2 {
    padding-left:50px;
}

.projects {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 5%;
}

.tools {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 5%;
    margin-left:50px;
}

.skills {
    margin-left: 50px;
    display: flex;
    flex-wrap:wrap;
}
.skill {
    position: relative;
    width: 30%;
    padding: 10px 20px 20px 30px;
    left: -2%;
    min-width: 200px;
    background-color: #D9D9D980;
    z-index: 101;
    margin-left: 50px;
}
.skill ul {
    list-style: none;
    margin-left: -30px;
    font-size: 1.2rem;
}
.skill1 {
    margin:-60px 15px 40px 20px;
    padding: 70px 20px 20px 30px;
}
.skill2 {
    z-index: 99;
    margin: 0px 15px 40px 20px;
}
.skill3 {
    z-index: 98;
    margin: 0px 15px 40px 20px;
}


/* Tablet styles */
@media only screen and (max-width: 1000px) { 
/* body {
    background-color: red;
} */

/* Navigation styles */
   /* Navigation Styles */

.desktop-nav {
    display: none;
}


.hamburgerMenu {
    display: block;
    position: fixed;
    width: 40px;
    top: 10px;
    right: 20px;
    opacity: 80%;
}

.hamburgerMenuopen {
    display: block;
    position: fixed;
    width: 50px;
    top: 20px;
    right: 40px;
    opacity: 100%;
}
.hamburgerMenuclosed {
    display: block;
    position: fixed;
    width: 50px;
    top: 20px;
    right: 40px;
    opacity: 80%;
}

.hide {
    display: none;
}

.right-nav {
    vertical-align: top;
    top: 0;
    width:75%;
    right: 3%;
    position: fixed;
    padding: 0%;
    display: block;
}

.right-nav ul {
    width: 100%;
    height:50vh;
    border: 4px solid rgba(175, 175, 175, 0.639);
    border-radius: 10px;
    margin: 0;
}

.right-nav li {
    display: block;
}

.dropdown {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    width: 120%;
    margin: 80px 0px 0px 0px;
    right:10px;
    display: block;
    padding-left:0px;
}

.menu-item {
    display: block;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

.side-categories {
    width: 100%;
    padding: 10px 0px 10px 20px;
}

/* About page styles    */
    .skill {
            position: relative;
            width: 90%;
            padding: 10px 20px 20px 30px;
            left: -2%;
            min-width: 200px;
            background-color: #D9D9D980;
            z-index: 101;
            margin-left: 50px;

    }

    .skills {
    margin-bottom: 40px;
    margin-left: -10px;
        }
.tools {
    margin-bottom: 40px;
    margin-left: -10px;
}
.skill1 {
    padding-top: 70px;
}
    .my-tools {
        margin-top:40px;
    }
    .my-skills {
        margin-top: 80px;
    }

.project-block h2 {
    margin-left:-20px;
}

.aboutHeroimg {
    margin: 0 auto;
    justify-content: center;

}
.aboutHeroimg img {
display: block;
position: relative;
width:70%;
margin:0 20% 0 20%;
left:0px;
}
.aboutDescription{
    display: block;
    position: relative;
    width:80%;
    left: 40px;
    top:0;
    margin-top: -150px;}
}

/* Mobile styles */
@media only screen and (max-width: 650px) {

/* body {
    background-color: blue;} */

/* Navigation styles */


.left-nav {
    display: none;
}

.logo {
    margin: 10px 0px 0px 30px;
    width:65px;
    height:70px;
    margin-top:5px;
}
/* Body Content Styles */
.content {
    width: 90%;
    margin: 0% auto;
    top: 150px;
    }

/* About page styles */


.aboutHeroimg {
    margin: 0 auto;
    justify-content: center;

}
.aboutHeroimg img {
display: block;
position: relative;
width:70%;
margin:0 20% 0 25%;
left:0px;
}
.aboutDescription{
    display: block;
    position: relative;
    width:80%;
    left: 40px;
    top:0;
    margin-top: -100px;}
}